.DS_Store

.idea/
/out/
.idea_modules/
*.iml
modules.xml
*.ipr
*.class
*.log
*.pyc

*.jar
*.zip
*.tar.gz
*.rar

pom.xml
target/

hs_err_pid*

.gradle/
build/
classes/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
tmp.json
/src/main/generated/
/generated/
